task :spec do
  system "jruby -S spec spec"
end

task :features do
  system "jruby -S cucumber features"
end

task :all_tests => [:spec, :features] do
end

desc "Generates the llp for the production."
task :llp do
  system "jruby -S limelight pack production -n '!-LLP_NAME-!'"
end