body {
	width: 1024px;
	background-color: white;
}

img {
  border: 0px;
}

a:link, a:visited, a:active {
	color: #8cc63f;
	font-family: Sans-Serif;
	font-weight: bold;
	font-size: 12pt;
	text-decoration: none;
}

a:hover {
  color: #bad452;
}

div#main_body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
	margin-top: 40px;
	height: 120px;
	text-align: center;
}

#link_table {
	margin-left: auto;
	margin-right: auto;
}

#sparkle_link, #sparkle_link:link, #download_link, #download_link:link, #learn_link, #learn_link:link {
	font-family: Serif;
	color: black;
	text-decoration: none;
	font-size: 10pt;
}

#sparkle_link, #sparkle_link:link, #sparkle_link:visited, #sparkle_link:active {
	display: block;
	padding: 80px 50px 50px 40px;
	width: 234px;
	height: 107px;
	background-image: url('images/sparkle_panel.png');
}

#sparkle_link:hover {
	background-image: url('images/sparkle_panel_hover.png');
}

#download_link, #download_link:link, #download_link:visited, #download_link:active  {
	display: block;
	padding: 80px 50px 50px 40px;
	width: 144px;
	height: 107px;
	text-align: center;
	background-image: url('images/download_panel.png');
}

#download_link:hover {
	background-image: url('images/download_panel_hover.png');
}

#learn_link, #learn_link:link, #learn_link:visited, #learn_link:active  {
	display: block;
	padding: 80px 50px 50px 40px;
	width: 234px;
	height: 107px;
	background-image: url('images/learn_panel.png');
}

#learn_link:hover {
	background-image: url('images/learn_panel_hover.png');
}

td.spacer_cell {
	width: 20px;
}

#dotted_line {
	height: 1px;
	background-image: url('images/dotted_line.png');
}

#footer_text {
	margin-top: 25px;
	color: #8cc63f;
	text-align: center;
	font-size: 19pt;
}

#footer {
	margin-top: 10px;
	text-align: center;
	font-size: 8pt;
	color: #999999;
	font-family: Sans-Serif;
	font-weight: bold;
}

a.footer_link:link, a.footer_link:visited, a.footer_link:active {
	color: #8cc63f;
	font-family: Sans-Serif;
	font-weight: bold;
	font-size: 8pt;
	text-decoration: none;
}

a.footer_link:hover {
  color: #bad452;
}

#small_sparkle_link, #small_sparkle_link:link, #small_sparkle_link:visited, #small_sparkle_link:active {
	display: block;
	width: 329px;
	height: 118px;
	background-image: url('images/sparkle_panel_small.png');
}

#small_sparkle_link:hover {
	background-image: url('images/sparkle_panel_small_hover.png');
}

#small_download_link, #small_download_link:link, #small_download_link:visited, #small_download_link:active  {
	display: block;
	width: 238;
	height: 118px;
	text-align: center;
	background-image: url('images/download_panel_small.png');
}

#small_download_link:hover {
	background-image: url('images/download_panel_small_hover.png');
}

#small_learn_link, #small_learn_link:link, #small_learn_link:visited, #small_learn_link:active  {
	display: block;
	width: 329px;
	height: 118px;
	background-image: url('images/learn_panel_small.png');
}

#small_learn_link:hover {
	background-image: url('images/learn_panel_small_hover.png');
}

span.title {
	display: block;
	margin: 30px 0px 5px 0px;
	color: #8cc63f;
	font-family: Sans-Serif;
	font-weight: bold;
	font-size: 17pt;
	text-decoration: none;
}

.two_col_table, #download_table {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.two_col_table tr td {
	padding: 0px 20px 0px 20px;
}

span.text {
	color: black;
	font-family: Serif;
	font-size: 12pt;
	line-height: 17pt;
}

span.text a {
	font-family: Serif;
	font-size: 12pt;
  font-weight: normal;
  line-height: 17pt;
}

pre {
  color: black;
  border-left: 1px solid #999999;
  padding: 5px 10px 5px 20px;
  background-color: #eeeeee;
}

span.tutorial_title {
	display: block;
	margin: 10px 0px 5px 0px;
	color: #8cc63f;
	font-family: Sans-Serif;
	font-weight: bold;
	font-size: 15pt;
	text-decoration: none;
  text-align: center;
}