require File.expand_path(File.dirname(__FILE__) + "/../spec_helper")

describe "!-SCENE_TITLE-!" do

  uses_limelight :scene => "!-SCENE_NAME-!", :hidden => true

  it "should have default text" do
    scene.children.size.should == 1
    root = scene.children[0]
    root.text.should == "This is the !-SCENE_TITLE-! scene."
  end

end